<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> #}
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script> #}
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="{{ STATIC_URL }}lib/marked.js"></script>
<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
marked.setOptions({
  renderer: new marked.Renderer(),
  gfm: true,
  tables: true,
  breaks: false,
  pedantic: false,
  sanitize: false, // IMPORTANT, because we do MathJax before markdown,
                   //            however we do escaping in 'CreatePreview'.
  smartLists: true,
  smartypants: false
});
</script>

<script type="text/javascript">


$(document).ready(function() {
  $("#id_comment").keydown(function (e) {
    if (e.ctrlKey && e.keyCode == 13) {
      $("form#comment").submit();
    }
  });

  {# $("#mark_form").validate({ #}
    {# debug: true, #}
    {# rules: { #}
      {# id_mark: { #}
        {# required: true, #}
        {# number: true #}
      {# } #}
    {# } #}
  {# }); #}

  {# $('#id_mark').validate({ #}
    {# debug: true, #}
  {# }); #}
  $("#error_text_mark").val("text");
  $("#mark_form").validate({
    rules: {
      mark: {
        number: true,
        min: 0,
      }
    },
    highlight: function(label) {
    },

    {# success: function(label) { #}
      {# $("button#btn").removeClass('btn').addClass('error'); #}
    {# }, #}

    {# errorPlacement: function(error, element) { #}
      {# $("#error_text").append(error); #}
    {# } #}
  });
});

function add_file_field() {
  var files = $('#id_files')[0].outerHTML;
  $("#file_field").append('<tr><td>' + files + '</td></tr>');
}


</script>

<script>
var Preview = {
  delay: 50,        // delay after keystroke before updating

  preview: null,     // filled in by Init below
  buffer: null,      // filled in by Init below

  timeout: null,     // store setTimout id
  mjRunning: false,  // true when MathJax is processing
  oldText: null,     // used to check if an update is needed

  Init: function () {
    this.preview = document.getElementById("marked-mathjax-preview");
    this.buffer = document.getElementById("marked-mathjax-preview-buffer");
    this.textarea = document.getElementById("id_comment");
  },

  SwapBuffers: function () {
    var buffer = this.preview;
    var preview = this.buffer;
    this.buffer = buffer;
    this.preview = preview;
    buffer.style.display = "none";
    buffer.style.position = "absolute";
    preview.style.position = "";
    preview.style.display = "";
  },

  Update: function () {
    if (this.timeout) {clearTimeout(this.timeout)}
    this.timeout = setTimeout(this.callback,this.delay);
  },

  CreatePreview: function () {
    Preview.timeout = null;
    if (this.mjRunning) return;
    var text = this.textarea.value;
    if (text === this.oldtext) return;
    text = this.Escape(text);                       //Escape tags before doing stuff
    this.buffer.innerHTML = this.oldtext = text;
    this.mjRunning = true;
    MathJax.Hub.Queue(
      ["Typeset",MathJax.Hub,this.buffer],
      ["PreviewDone",this],
      ["resetEquationNumbers", MathJax.InputJax.TeX]
    );
  },

  PreviewDone: function () {
    this.mjRunning = false;
    text = this.buffer.innerHTML;
    text = text.replace(/^&gt;/mg, '>');
    this.buffer.innerHTML = marked (text);
    this.SwapBuffers();
  },

  Escape: function (html, encode) {
    return html
      .replace(!encode ? /&(?!#?\w+;)/g : /&/g, '&amp;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;')
      .replace(/"/g, '&quot;')
     .replace(/'/g, '&#39;');
  },

  UpdateKeyPress: function (event) {
    if (event.keyCode < 16 || event.keyCode > 47) {
      this.preview.innerHTML = '<p>' + marked(this.textarea.value) + '</p>';
      this.buffer.innerHTML = '<p>' + marked(this.textarea.value) + '</p>';
    }
    this.Update();
  }

};

Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
Preview.callback.autoReset = true;
</script>
